main {
    /* width: 100%; */
    /* min-width: 100%;
    min-height: 100%; */
}

main .main-wrapper {
    display: flex;
    margin: 0 auto;
}

main .advertisement-area {
    width: 17.5%;
    /* min-height: 100vh; */
    background-color: #f2f5db;
}

main nav {
    min-width: 12.5%;
    background-color: #f0f5ca;
    position: sticky;
    top: 70px;
    left: 0;
    z-index: 100;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

main nav .nav-wrapper {
    position: sticky;
    top: 70px;
    left: 0;
    z-index: 100;

    min-width: 100%;
    min-width: inherit;
    padding: 30px 0 0 20px;
    margin: 10px 0;
    overflow-y: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}
/*スクロールバー非表示（Chrome・Safari）*/
main nav .nav-wrapper::-webkit-scrollbar{
    display:none;
}

main nav .nav-wrapper div {
    cursor: pointer;
    margin-bottom: 10px; 
}

main nav .nav-wrapper .post-blog-button {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 70px;
    border: 1px solid #888888;
    border-radius: 5px;
}

main .main-contents {
    /* width: 70%; */
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f2f5db;
}

.advertisement_image{
    width: 90%;
}

.advertisement_image > img ,
.adv_regster_frame {
    width: 90%;
    border: 0.5px solid #d3d3d3;
}

/* main .post-user, main .posted-at {
    text-align: center;
} */

@media screen and (max-width: 767px) {
    main nav {
        /* display: none; */
        position: fixed;
        top: 50px;
        left: 100%;
        width: 80%;
        height: 100%;
        background-color: rgba(255, 237, 178, 0.9);
        transition: all 0.2s;
    }
    main nav.active {
        left: 20%;
    }

    main .advertisement-area {
        display: none;
    }
}