
main .blog-list-wrapper {
    display: flex;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}

main .blog-unit {
    width: 24%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    position: relative;
}

main .blog-unit-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

main .blog-unit-info {
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 12.5px;
    padding: 5px;
}

main .blog-unit-info > p {
    line-height: 1;
    margin: 1px;
}
main .title {
    font-size: 20px;
    font-weight: bold;
}

main .thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
    border-radius: 12.5px;
}


main .post-user {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 5px;
    border-radius: 12.5px;
    display: flex;
    align-items: center;
}

main .post-user > p {
    line-height: 1;
}

main .blog-user-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #888888;
    border-radius: 50%;
    margin-right: 5px;
}

main .blog-contents {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width:767px) {
    main .blog-unit:hover {
        transform: scale(1.025);
        transition: all 0.3s;
}
}
@media screen and (max-width:767px) {
    main .blog-unit {
        width: 100%;
    }
}