/* .advertisement-area {
    display: none;
    width: 0px;
} */

#blog-posting .main-contents-wrapper {
    width: 100%;
}

#blog-posting .blog-posting-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#blog-posting .blog-posting-form {
    width: 100%;
}

#blog-posting .tool-list {
    margin-bottom: 30px;
}

#blog-posting .tool-list > div {
    display: flex;
}

#blog-posting #blog-posting-form .blog-title {
    width: 95%;
    height: 30px;
}

#blog-posting #blog-posting-form #original-contents.original-contents {
    width: 95%;
    height: 100%;
    border: 1px solid #888888;
    border-radius: 3px;
    padding: 20px;
    background-color: white;
}

#blog-posting .import-image-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#blog-posting .contents-image,
#blog-posting .import-image {
    border: 1px solid #888888;
}

#blog-posting .tool-btn {
    width: 120px;
    height: 25px;
    margin-bottom: 2px;
}

#blog-posting .sub-tool-btn {
    width: 60px;
    height: 25px;
    margin-bottom: 2px;
}
