* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.underline {
    text-decoration: underline;
    color: rgb(20, 20, 255);
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

header {
    height: 7vh;
    /* min-height: 50px; */
    /* width: 100vw; */
    width: 100%;
}

header .header-wrapper {
    height: 7vh;
    width: 100%;
    padding: 10px;
    background-color: #fff0ab;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #888888;

}

header .header-logo {
    width: 10%;
    min-width: 100px;
    margin-left: 20px;
}
header .header-logo-wrapper {
    cursor: pointer;
}

header .header-search-bar {
    width: 50%;
    min-width: 800px;
    display: flex;
}

header .header-search-bar-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
}

header .search-textbox {
    min-width: 500px;
    width: 50%;
    height: 30px;
    margin-right: 0.5%;
}

header .search-button {
    height: 30px;
}

header .header-nav {
    width: 40%;
    min-width: 400px;
    flex: 1;
}

header .header-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .header-nav-list div:last-child {
    margin-right: 2.5%;
}
header .header-nav-list div {
    margin-left: 5%;
    cursor: pointer;
}

header .header-user-icon-href {
    width: 50px;
    height: 50px;
}

header .header-user-icon-image {
    width: 50px;
    height: 50px;
    border: 0.5px solid #888888;
    border-radius: 50%;
    display: flex;
}



footer {
    height: 50px;
    width: 100vw;
    position: sticky;
}

footer .footer-wrapper {
    height: 50px;
    width: 100%;
    background-color: #f3f7d2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1px solid #d3d3d3;
}