* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.underline {
    text-decoration: underline;
    color: rgb(20, 20, 255);
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.header-unread-messege-count-circle {
    position: relative;
    top: -7.5px;
    left: -15px;
}
.header-unread-messege-count {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 1px 0px;
    border-radius: 9999px;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
}


header {
    height: 70px;
    width: 100%;
    background-color: #fff0ab;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .header-wrapper {
    height: 70px;
    padding: 10px;
    background-color: #fff0ab;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #888888;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

header .header-logo {
    width: 10%;
    min-width: 100px;
    margin-left: 20px;
}
header .header-logo-wrapper {
    cursor: pointer;
}

header .header-app-logo {
    width: 60px;
}

header .header-search-bar {
    width: 50%;
    min-width: 800px;
    display: flex;
}

header .header-search-bar-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
}

header .search-textbox {
    min-width: 500px;
    width: 50%;
    height: 30px;
    margin-right: 0.5%;
}

header .search-button {
    height: 30px;
}

.sp-header-search-bar {
    display: none;
}

header .tool-list {
    display: none;
}

header .sp-header-right-nav {
    display: none;
}

header .header-nav {
    width: 40%;
    min-width: 400px;
    flex: 1;
}

header .header-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .header-nav-list div:last-child {
    margin-right: 2.5%;
}
header .header-nav-list div {
    margin-left: 5%;
    cursor: pointer;
}

header .header-user-icon-href {
    width: 50px;
    height: 50px;
}

header .header-user-icon-image {
    width: 50px;
    height: 50px;
    border: 0.5px solid #888888;
    border-radius: 50%;
    display: flex;
}



footer {
    height: 50px;
    width: 100%;
    /* position: sticky; */
    border-top: 0.1px solid #d3d3d3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

footer .footer-wrapper {
    height: 50px;
    width: 100%;
    background-color: #f3f7d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-menu {
    display: none;
}

@media screen and (max-width: 767px) {
    p {
        margin: 8px 0;
    }

    header {
        height: 50px;
    }

    header .header-wrapper {
        height: 50px;
    }

    header .header-nav {
        display: none;
        width: 0;
    }

    header .sp-header-right-nav {
        display: flex;
        align-items: center;
    }

    header .header-search-bar {
        display: none;
    }

    header .sp-header-search-bar {
        display: block;
        width: 100%;
        min-width: initial;
        height: 50px;
        padding: 5px;
        position: absolute;
        background-color: rgba(210, 210, 210, 0.6);
        top: 0;
        left: 0;
        z-index: 10;
        transition: all 0.2s;
    }
    header .sp-header-search-bar.active {
        top: 50px;
    }

    header .sp-header-search-bar-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        flex: 1;
    }

    header .sp-search-icon {
        margin-right: 20px;
    }

    header .sp-blog-tools {
        display: none;
    }

    header .tool-list {
        display: none;
    }

    header .sp-search-textbox {
        flex: 1;
        min-width: initial;
        height: 30px;
        margin-right: 0.5%;
    }
    
    header .sp-search-button {
        height: 30px;
    }

    header .sp-list-icon {
        margin-right: 10px;
    }

    #footer-menu {
        display: block;
        /* position: fixed; */
        position: sticky;
        width: 100%;
        height: 40px;
        z-index: 100;
        bottom: 0;
        left: 0;
        background-color: rgba(210, 210, 210, 0.6);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    #footer-menu .footer-menu-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #footer-menu .footer-menu-user-icon {
        width: 30px;
        height: 30px;
        border: 1px solid #888888;
        border-radius: 50%;
    }

    header .header-app-logo {
        width: 40px;
    }

    .header-unread-messege-count {
        top: 0;
        left: 0;
    }
}