#profile-top .profile-card {
    border: 1px solid #888888;
    padding: 15px 30px 30px 30px;
    width: 95%;
    margin: 0 auto;
}

#profile-top .profile-button-list {
    display: flex;
    justify-content: end;
}

#profile-top .profile-button-list > div {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-top .profile-contents {
    display: flex;
    flex-grow: 1;
    padding-top: 30px;
}

#profile-top .profile-contents .left-contents {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#profile-top .profile-contents .left-contents > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-top .profile-image-frame {
    margin-bottom: 30px;
}

#profile-top .profile-icon {
    width: 200px;
    height: 200px;
    border: 1px solid #888888;
    border-radius: 50%;
}

#profile-top .profile-contents .right-contents {
    flex-grow: 2;
    padding: 20px 50px 0 0;
}

#profile-top .profile-contents .right-contents > div {
    display: flex;
}

#profile-top .profile-contents .right-contents div > p:first-child {
    text-align: right;
    width: 100px;
    margin-right: 50px;
}

#profile-top .word-wrap {
    line-break: anywhere;
    width: 80%;
}



#profile-top .open-edit-profile-modal, 
#profile-top .open-privacy-setting-modal, 
#profile-top .open-favorite-user-modal, 
#profile-top .favorite-user-button,
#profile-top .message-button {
    cursor: pointer;
    border: 2px solid #888888;
    border-radius: 7.5px;
    width: 150px;
    height: 30px;
}

#profile-top .logout-button {
    cursor: pointer;
    border-radius: 7.5px;
    width: 150px;
    height: 30px;
    /* background-color: #fa0a0a; */
    background-color: #ff2929;
}




/* モーダル */
#profile-top .modal.close {
    visibility: hidden;
}

#profile-top .close-edit-profile-modal, 
#profile-top .close-privacy-setting-modal,
#profile-top .close-favorite-user-modal {
    cursor: pointer;
    font-size: 30px;
}

#profile-top .modal.open{
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

#profile-top .modal-contents {
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 850px;
    height: 800px;
    background-color: white;
}

#profile-top .modal-background {
    background-color: gray;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#profile-top .modal-contents.edit-profile.display-none, 
#profile-top .modal-contents.privacy-setting.display-none,
#profile-top .modal-contents.favorite-user.display-none {
    visibility: hidden;
}

#profile-editing-modal .profile-editing-control-buttons,
#privacy-setting-modal .privacy-setting-control-buttons,
#favorite-user-modal .favorite-user-control-buttons {
    display: flex;
    justify-content: space-between;
}

#profile-editing-modal .profile-updating-button-wrapper,
#privacy-setting-modal .privacy-setting-updating-button-wrapper {
    display: flex;
    align-items: center;
}

#profile-editing-modal .profile-updating-button,
#privacy-setting-modal .privacy-setting-updating-button {
    cursor: pointer;
    border: 2px solid #888888;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: #13e201;
}

#profile-editing-modal .profile-editing-modal-wrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#privacy-setting-modal .privacy-setting-modal-wrapper,
#favorite-user-modal .favorite-user-modal-wrapper {
    padding: 15px;
}

#profile-editing-modal .profile-editing-form-area,
#privacy-setting-modal .privacy-setting-form-area {
    width: 100%;
}

#profile-editing-modal .profile-editing-contents-area,
#privacy-setting-modal .privacy-setting-contents-area {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

#privacy-setting-modal .privacy-setting-input-area > div {
    padding: 0px 30px;
}

#privacy-setting-modal .privacy-setting-input-area > div:not(:first-child) {
    border-top: 1px solid #888888;
}

#privacy-setting-modal .privacy-setting-input-area > div > p:first-child {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.3rem;
}

#privacy-setting-modal .privacy-setting-input-area > div > div {
    padding-left: 10px;
}
#privacy-setting-modal .privacy-setting-input-area > div > div > p:first-child{
    margin-bottom: 0;
}

#profile-editing-modal .profile-editing-input-area > div > p:first-child {
    margin-bottom: 0;
    font-weight: bold;
}

#profile-editing-modal .profile-editing-user-icon-area {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-editing-modal .profile-editing-user-icon {
    width: 200px;
    height: 200px;
}

#profile-editing-modal .user-icon-choice-button {
    width: 120px;
}

#profile-editing-modal .user-icon-choice-button::file-selector-button {
    cursor: pointer;
    border: 2px solid #888888;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    text-align: center;
    /* display: block;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
}

.user-id-attention,
#privacy-setting-modal .password-attention {
    font-size: 0.7rem;
}

#profile-editing-modal .user-id-value,
#privacy-setting-modal .login-id-value {
    margin-top: 0px;
    /* margin-left: 30px; */
}

#profile-editing-modal .account-deleting-button-area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#profile-editing-modal .account-deleting-button {
    cursor: pointer;
    border: 2px solid #888888;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color: #ff2929;

}

#profile-editing-modal .input-box {
    width: 100%;
}

#privacy-setting-modal .input-box {
    width: 100%;
}

#favorite-user-modal .favorite-user-icon {
    width: 100px;
    height: 100px;
    border: 1px solid #888888;
    border-radius: 50%;
}

#favorite-user-modal .favorite-user-unit {
    width: 80%;
    display: flex;
    margin: 10px auto;
}

#favorite-user-modal .left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 15%;
}

#favorite-user-modal .center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
}

#favorite-user-modal .right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 15%;
}

#favorite-user-modal .favorite-user-name {
    margin: 15px 0 5px 0;
}

#favorite-user-modal .delete-favorite-user-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

#favorite-user-modal .delete-favorite-user-button {
    cursor: pointer;
    border: 2px solid #888888;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color: #ff2929;
    margin: 5px 0 10px 0;
}
