.fos-1_15rem {
    font-size: 1.15rem;
}

.fos-1_3rem {
    font-size: 1.3rem;
}

.fos-1_5rem {
    font-size: 1.5rem;
}

.fos-1_75rem {
    font-size: 1.75rem;
}

.ml-minus1_5p {
    margin-left: -1.5px;
}

.ml-minus3p {
    margin-left: -3px;
}

.mr-5p {
    margin-right: 5px;
}

.mr-10p {
    margin-right: 10px;
}

.mr-15p {
    margin-right: 15px;
}

.mr-17p {
    margin-right: 17px;
}

.mr-17_5p {
    margin-right: 17.5px;
}

.mr-18_5p {
    margin-right: 18.5px;
}

.mr-20p {
    margin-right: 20px;
}

.mb-15p {
    margin-bottom: 15px;
}
