#talk-room .message-display-header {
    display: flex;
    align-items: center;
}

#talk-room .contents {
    display: flex;
    flex-direction: column;
}

#talk-room .message-display-wrapper {
    width: 100%;
    min-height: 90vh;
    /* background-color: #e9feff; */
    background-color: rgba(148, 251, 255, 0.3);
}

#talk-room .message-display {
    width: 100%;
    min-height: 90vh;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message-send-textbox {
    background-color: #dbfbff;
    position: sticky;
    height: 40px;
    bottom: 0px;
}

.message {
    display: flex;
    max-width: 80%;
    line-break: anywhere;
}

.send {
    margin-left: auto;
    flex-direction: row-reverse;
}

.receive {
    margin-right: auto;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.message-contents {
    margin: 15px 10px auto 10px;
    padding: 5px;
    border-radius: 5px;

    background-color: #22eeee;
}

/* .send-at {
    width: 50px;
} */

.message-send-button-wrapper {
    position: relative;
}

.message-send-button {
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.message-send-button::before {
    transform: rotate(45deg);
}