#talk-room .message-display-header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 70px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f5db;
}

#talk-room .contents {
    display: flex;
    flex-direction: column;
}

#talk-room .message-display-wrapper {
    width: 100%;
    min-height: 90vh;
    /* background-color: #e9feff; */
    background-color: rgba(148, 251, 255, 0.3);
}

#talk-room .message-display {
    width: 100%;
    min-height: 90vh;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message-send-textbox {
    background-color: #dbfbff;
    position: sticky;
    height: 40px;
    bottom: 0px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border: 1px solid #888888;
    border-radius: 50%;
    margin-right: 10px;
}

.message {
    display: flex;
    /* align-items: flex-end; */
    max-width: 80%;
    line-break: anywhere;
    margin-bottom: 10px;
}

.send {
    margin-left: auto;
    flex-direction: row-reverse;
}

.receive {
    margin-right: auto;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.message-contents {
    margin: 15px 10px 0 10px;
    padding: 5px;
    border-radius: 5px;

    background-color: #22eeee;
}

.msg-stauts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.msg-stauts.send {
    align-items: flex-end;
}
.msg-stauts.receive {
    align-items: flex-start;
}


.msg-stauts {
    line-height: 1.1;
}

.already-read {
    font-size: 10px;
    margin: 0;
    /* text-align: end; */
}

.send-at {
    width: 120px;
    font-size: 15px;
    margin: 0;
}

.message-send-button-wrapper {
    position: relative;
}

.message-send-button {
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.message-send-button::before {
    transform: rotate(45deg);
}