.talk-room-list {
    width: 100%;
}

.talk-room-list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.talk-room-list-wrapper > .talk-room-unit {
    padding: 10px 0;
    border-bottom: 1px solid #888888;
}

.talk-room-list-wrapper > .talk-room-unit:first-child {
    border-top: 1px solid #888888;
}

/* .talk-room-unit {
    padding: 10px 0;
    border-bottom: 1px solid #888888;
}

.talk-room-unit:first {
    border-top: 1px solid #888888;
} */

.talk-room-unit-wrapper {
    width: 90%;
    display: flex;
    margin: auto;
}

.user-icon-wrapper {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.user-icon {
    width: 100px;
    height: 100px;
    border: 1px solid #888888;
    border-radius: 50%;
    margin-right: 30px;
}

.contents {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.top,
.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    padding-top: 10px;
}

.top > p:first-child {
    margin: 0 15px 0 0;
    font-weight: bold;
    width: 90%;
}

.top .unread-messege-count-wrapper {
    width: 10%;
}

.top .unread-messege-count-circle {
    text-align: center;
}
.unread-messege-count {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 0 7px;
    border-radius: 9999px; /* 丸くする */
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
}

.top .bottom {
    display: flex;
    justify-content: space-between;
}

.bottom > .message-wrapper {
    margin: 0 30px 0 0;
    width: 90%;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* ブラウザがサポートしていない場合のフェールセーフ */
    /* max-height: 16px; */
}

.bottom > .send-time-wrapper {
    width: 10%;
}

.bottom > .send-time-wrapper > .send-time {
    margin: 0 0 0 auto;
}