* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

li {
    list-style: none;
}

/* 共通css */


main {
    width: 100vw;
    min-width: 1320px;
}

main .main-wrapper {
    display: flex;
    width: 100vw;
    min-width: 1320px;
}

main .advertise-area {
    width: 12.5vw;
    min-width: 150px;
    height: 100vh;

    background-color: #8ef7ad;
}

main .main-contents {
    width: 75vw;
    min-width: 1020px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    background-color: #f3f7d2;

}

main .topic-wrapper {
    display: flex;
    width: 100%;
    min-width: 1000px;
    height: 35%;
    min-height: 400px;
    padding: 0;
    overflow: auto;
}

main .topic-article {
    width: 33.33333%;
    min-width: 350px;
    height: 33.33333%;
    min-height: 350px;
    border: 2px solid black;
    border-radius: 5%;
    margin: auto 5px;
}

main .post-user, main .posted-at {
    text-align: center;
}