header {
    height: 5%;
    min-height: 50px;
    width: 100vw;

}

header .header-wrapper {
    height: 5%;
    width: 100vw;
    padding: 10px;
    background-color: #ccf0ff;

    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-logo {
    width: 10%;
    min-width: 100px;
    
}
header .header-logo-wrapper {
    cursor: pointer;
}

header .header-search-bar {
    width: 50%;
    min-width: 800px;
    display: flex;
}

header .header-search-bar-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
}

header .search-textbox {
    min-width: 500px;
    width: 50%;
    height: 30px;
    margin-right: 0.5%;
}

header .search-button {
    height: 30px;
}

header .header-nav {
    width: 40%;
    min-width: 400px;
    flex: 1;
}

header .header-nav-list {
    display: flex;
    justify-content: flex-end;
}

header .header-nav-list li:last-child {
    margin-right: 2.5%;
}
header .header-nav-list li {
    margin-left: 5%;
    cursor: pointer;
}