* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.underline {
    text-decoration: underline;
    color: rgb(20, 20, 255);
}

main {
    min-height: 100vh;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}
